<ion-content class="ion-padding">
  <ion-button expand="full" (click)="abrirEnGoogleMaps()">Abrir en Google Maps</ion-button>
</ion-content>

<ion-content class="ion-padding">
  <div *ngIf="latitude !== null && longitude !== null">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Coordenadas</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Latitud:</strong> {{ latitude }}</p>
        <p><strong>Longitud:</strong> {{ longitude }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="latitude === null && longitude === null">
    <p>Obteniendo ubicación...</p>
  </div>
</ion-content>
<ion-card-content>
  <p><strong>Latitud:</strong> {{ latitude }}</p>
  <p><strong>Longitud:</strong> {{ longitude }}</p>


</ion-card-content>
